.card {
  position: relative;
  cursor: pointer;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  border: 2px dashed currentColor;
  border-radius: 10px;
  padding: 10px;
  transition: color linear 0.2s;
  @media (hover: hover) {
    &:hover {
      color: rgb(21, 0, 255);
    }
  }
}

.image {
  aspect-ratio: 1 / 1.4;
  width: 100%;
  object-fit: cover;
  border-radius: inherit;
}
