.form {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-inline: auto;
}

.gender {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  h3 {
    grid-column: span 2;
    text-align: center;
  }
}
