.control {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: min(200px, 100%);
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 10px;
  border-radius: 10px;
  gap: 5px;
  justify-items: center;
  align-items: center;
}

.title {
  grid-column: span 2;
  color: white;
  text-align: center;
}
