.details {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
  padding: 40px 10px 0 10px;
  width: max(20%, 300px);
  max-height: 100dvh;
}

.image {
  aspect-ratio: 1 / 1.3;
  object-fit: cover;
  width: 100%;
  border-radius: 10px;
}

.name {
  text-align: center;
}

.list {
  margin-left: 20px;
  font-size: 1.2rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  transition: all linear 0.2s;
  color: var(--button-color);

  @media (hover: hover) {
    &:hover {
      scale: 1.1;
    }
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 120%;
    height: 4px;
    background-color: currentColor;
    rotate: 45deg;
  }

  &::after {
    rotate: -45deg;
  }
}

.empty {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
