.header {
  display: grid;
  grid-template-columns: 1fr minmax(200px, 1fr) 80px 1fr;
  gap: 5px;
  align-items: center;
  height: 50px;
  background-color: blue;
}

.input {
  height: 37px;
  outline: none;
  border: none;
  border-radius: 5px;
  grid-column: 2 / 3;
  font-size: 1.2rem;
  padding-left: 10px;
}

.submit {
  min-width: 80px;
  height: 37px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border-radius: 5px;
  border: none;
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: #57cc99;
}
.submit:hover {
  background-color: #80ed99;
}
.submit:active {
  top: 1px;
}
