.header {
  display: grid;
  grid-template-columns: 1fr minmax(350px, 1fr) 1fr;
  gap: 5px;
  align-items: center;
  background-color: #2d40d0;
  -webkit-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 4px 8px 0px rgba(34, 60, 80, 0.2);
}

.navigation {
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-between;
}

.link {
  color: white;
  text-decoration: none;
  &.active {
    text-decoration: underline;
    color: rgb(255 201 0);
  }
}
