.main {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 20px;
  box-sizing: border-box;
}

.list {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  align-content: start;
  gap: 20px;
}

.placeholder {
  justify-self: center;
  align-self: center;
}
