.parent {
  height: 7px;
  border: 1px solid black;
  border-radius: 5px;
  margin-block: 5px;
}

.bar {
  height: 100%;
  background-color: red;
  border-radius: inherit;
  transition: all ease-out 1s;
}

.bar_0 {
  width: 0;
  background-color: rgb(255, 255, 255);
}

.bar_1 {
  width: 20%;
  background-color: #ff0000;
}

.bar_2 {
  width: 40%;
  background-color: #ff7f00;
}

.bar_3 {
  width: 60%;
  background-color: #ffff00;
}

.bar_4 {
  width: 80%;
  background-color: #7fff00;
}

.bar_5 {
  width: 100%;
  background-color: #00ff00;
}
