@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
}

#root {
  min-height: 100dvh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.error-button {
  cursor: pointer;
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(241, 61, 61);
  color: white;
  border: none;
  outline: none;
  box-shadow: none;
  transition: background-color linear 0.2s;
  @media (hover: hover) {
    &:hover {
      background-color: red;
    }
  }
}
