.details {
  position: relative;
  padding: 10px;
  width: max(20%, 300px);
  max-height: 100dvh;
}

.image {
  aspect-ratio: 1 / 1.3;
  object-fit: cover;
  width: 100%;
}

.name {
  text-align: center;
}

.list {
  margin-left: 15 px;
}
