.page {
  margin-inline: auto;
  height: 100%;
  width: min(1200px, 100%);
  box-sizing: border-box;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  justify-items: center;
  align-content: start;
  gap: 20px;
}

.empty {
  grid-column: span 3;
  font-weight: 600;
  font-size: 20px;
}
