.button {
  user-select: none;
  max-width: fit-content;
  min-width: 80px;
  height: 37px;
  color: #fff;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  border-radius: 5px;
  border: none;
  text-decoration: none;
  box-shadow:
    inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1),
    4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  background: var(--button-color);
}
.button:hover {
  background-color: var(--button-hover-color);
}
.button:disabled {
  background-color: #7ea487;
}
.button:active {
  top: 1px;
}

.warning {
  background: #f42d1f;
}

.warning:hover {
  background-color: #ff4a4a;
}
